<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6"/>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Sigil" publicKeyToken="2d06c3494341c8ab" culture="neutral"/>
  
                 <bindingRedirect oldVersion="0.0.0.0-4.7.0.0" newVersion="4.7.0.0"/>
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="DeltaCompressionDotNet.MsDelta" publicKeyToken="46b2138a390abf55" culture="neutral"/>
  
                 <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="xunit.core" publicKeyToken="8d05b1bb7a6fdb6c" culture="neutral"/>
  
                 <bindingRedirect oldVersion="0.0.0.0-2.3.1.3858" newVersion="2.3.1.3858"/>
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="xunit.execution.desktop" publicKeyToken="8d05b1bb7a6fdb6c" culture="neutral"/>
  
                 <bindingRedirect oldVersion="0.0.0.0-2.3.1.3858" newVersion="2.3.1.3858"/>
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="System.Reactive.Interfaces" publicKeyToken="94bc3704cddfc263" culture="neutral"/>
  
                 <bindingRedirect oldVersion="0.0.0.0-3.0.1000.0" newVersion="3.0.1000.0"/>
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="System.Reactive.Core" publicKeyToken="94bc3704cddfc263" culture="neutral"/>
  
                 <bindingRedirect oldVersion="0.0.0.0-3.0.3000.0" newVersion="3.0.3000.0"/>
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="System.Reactive.Linq" publicKeyToken="94bc3704cddfc263" culture="neutral"/>
  
                 <bindingRedirect oldVersion="0.0.0.0-3.0.3000.0" newVersion="3.0.3000.0"/>
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="SharpCompress" publicKeyToken="afb0a02973931d96" culture="neutral"/>
  
                 <bindingRedirect oldVersion="0.0.0.0-0.19.2.0" newVersion="0.19.2.0"/>
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
</configuration>
